.image__welcome {
    @apply bg-no-repeat bg-center bg-fixed bg-cover
    w-full h-screen flex justify-center items-center text-center text-amber-50
}

.image__welcome h1 {
    font-size: 30px;
}

.image__welcome p {
    font-size: 24px;
    margin-bottom: 40px;
}

.image__welcome div {
    transition: 1s ease-in-out;
}

@keyframes welcome__animation {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0px);
    }
}

.active {
    animation: welcome__animation 1.5s linear;
}