.burger__menu_active {
    @apply top-0;
    overflow: hidden;
}

.burger__menu, .burger__menu_active {
    @apply fixed h-full w-screen flex justify-center content-center;
    background-color: rgba(0,0,0, 0.75);
    z-index: 2;
    transition: 1s ease-in-out;
}

.burger__menu {
    top: -100%;
}

.burger__nav {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;

}

.nav__list {
    list-style-type: none;
}

.list__item {
    font-size: 24px;
}

.list__item:not(:last-child) {
    margin-bottom: 30px;
}