.main {
    padding-top: 60px;
    width: 100%;
    position: relative;
    background: url("../../assets/about__bg.jpg") fixed no-repeat center;
    background-size: cover;
    color: white;
    min-height: 100vh;
}

.main__container {
    margin: 0 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
}
