.burger__icon {
    @apply w-5 h-5 flex justify-between
}

.burger__line {
    @apply bg-white h-1 rounded-sm;
    transition: 1s ease-in-out;
}

.burger__line.active:first-child {
    transform: rotate(45deg)
}

.burger__line.active:last-child {
    transform: rotate(-45deg)
}

.burger__line.active {
    transform: scale(0, 0);
}